@page "/"

<PageTitle>Home</PageTitle>

<header>
    <h1>Welcome</h1>
</header>

<p>This page is dedicated to me</p>

<div class="row">
    <div class="column">
         <img src="https://t3.ftcdn.net/jpg/01/93/06/96/240_F_193069636_aFz23e0gm2afdLGGa1Eme077C0dWUEnv.jpg">
    </div>
    <div class=" column">
        <img src="https://t3.ftcdn.net/jpg/01/93/06/96/240_F_193069636_aFz23e0gm2afdLGGa1Eme077C0dWUEnv.jpg">
    </div>
</div>

<div class="row">
    <div class=" column">
        <img src="https://t3.ftcdn.net/jpg/01/93/06/96/240_F_193069636_aFz23e0gm2afdLGGa1Eme077C0dWUEnv.jpg">
    </div>
    <div class=" column">
        <img src="https://t3.ftcdn.net/jpg/01/93/06/96/240_F_193069636_aFz23e0gm2afdLGGa1Eme077C0dWUEnv.jpg">
    </div>
</div>

}
